/* Estilos página de Contacto */

/* Sección Visítanos */
#contacto-ubicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.C-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.C-text-wrapper div:first-child {
    max-width: 650px;
}

.bookstore-illustration {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.bookstore-illustration div:first-child {
    max-width: 559px ;
}

.bookstore-illustration-wrapper {
    max-width: 560px;
    max-height: 472px;
}

.bs-illustration {
    width: 100%;
    height: 100%;
}

/* Sección Mapa */

#section-mapa {
    height: 30%;
    margin-bottom: 60px;
    /*width: 100%;
    background-image: url(../assets/img/SVGs/wavys-hero-home.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; */
    
}

.mapa-wrapper {
    display: flex;
    /*justify-content: center;
    align-items: end;
    height: 80%;*/  
}

.map {
    /*position: absolute;
    width: 840px;
    height: 560px;*/
    border-radius: 24px;
    flex-grow: 1;
}

.contacto-mapa {
    width: 539px;
    height: 418px;
}

.contacto-mapa iframe{
    width: 100%;
    height: 100%;
}


/* Sección Formulario */
#section-contacto-formulario {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 56px;
    overflow: hidden;
    margin-bottom: 60px;
   
}

.books-pattern {
    background-image: url(../assets/img/JPEGs/libros-azul.jpg);
    background-size: cover;
}

.contacto-formulario-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    
}
    

.contacto-formulario-wrapper h2{
    font-weight: 600;
    font-size: 40px;
    color: $color-font-titles;
    margin-top: 108px;
}

.form-label{
    font-weight: 600;
    font-size: 16px;
    color: #1F3F66;
}

.input, .box-message{
    border: 0;
    background-color: #F6F8FA;
    display: block;
    border-radius: 8px;
    padding: 10px 16px;
    margin-top: 6px;
    margin-bottom: 32px; 
    width: 600px;
}

.box-message{
    margin-bottom: 0;
}

.btn-group-wrapper{
    width: 90%;
    margin-bottom: 80px;
}


/* Responsive de la Página de Contacto 
Sección Contacto Ubicación */

@media screen and (max-width: 991px) {
    #contacto-ubicacion {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto 80px;
    }
}

/* Responsive de la Página de Contacto 
Sección Contacto Formulario */

@media screen and (max-width: 991px) {
    #section-contacto-formulario {
        display: grid;
        grid-template-columns: 1fr;
    }
}