
/*Estilos Sección Autores */

#section-autores-destacados {
    height: 100%;
}

.AD-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.card .card-img, .card-v .card-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
    transition: all 1s;
    filter: brightness(65%);
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
}

.card, .card-v {
    border-radius: 15px;
    width: 100%;
    height: 50vh;
    margin-bottom: 30px;
    border: none;
}

.card-v h3 {
    position: relative;
    top: 70%;
    font-weight: 700;
    font-size: 28px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    text-align: center;
}
